<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>样品差异比较</title>
</head>
<script type="text/javascript" src="/static/js/jquery-2.0.0.min.js"></script>
<script src="/static/js/main.js"></script>
<body>
    <span>物种信息：</span>
    <select id="species_information" onchange="species_info_Change()">
        <option value ="volvo">Volvo</option>
        <option value ="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="Other">Other</option>
     </select>
<input id="other"  hidden=""/>
</body>
<script>
    $("#species_information").unbind.bind('blur', function() {
        test = this;
        console.log(this);
    });
    function species_info_Change() {
        if ($("#species_information")[0].value == 'Other') {
            $("#other").show();
        }
        else {
            $("#other").hide();
        }
    }

</script>
</html>