<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" href="static/css/ui.jqgrid.css" />
		<link rel="stylesheet" href="static/css/jquery-ui-1.8.16.custom.css" />
		<script type="text/javascript" src="static/js/jquery-2.0.0.min.js"></script>
		<script type="text/javascript" src="static/js/jquery.jqGrid.src.js"></script>
		<script type="text/javascript" src="static/js/grid.locale-cn.js"></script>
		<script type="text/javascript" src="static/js/sample.js"></script>
		<script type="text/javascript" src="static/js/xlsx.core.min.js"></script>
		<script src="static/js/main.js"></script>
	<title></title>
</head>
<body>
  <span class="help-block"><b>当前项目:{{ project_name }}</b></span>

<table id="log_table"></table>

</body>
<script>
	var project_id = {{ project_id }};
	var table_map = {
		'动作':'action',
    '操作人':'manager',
		'时间':'time'
	};

	function show_log_table() {
		ajaxSend('get_log_data', {'project_id': project_id}, function(data) {
			if (data.errcode !=0) {
				alert(data.msg);
			}
			else {
				var ret_data = data.data;
				var table_obj = $("#log_table");
				for (var i in ret_data) {
					i = parseInt(i);
					table_obj.addRowData(i+1, ret_data[i]);
				}
			}
		});
	}

	show_log_table();
</script>
</html>
