<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0" />
<title>注册</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>
<body>
<div class="box">
<div class="login-box">
<div class="login-title text-center">
<h1><small>注册</small></h1>
</div>
<div class="login-content ">
<div class="form">
<form action="#" method="post">
<div class="input-group">
    <span class="input-group-addon"><span class="glyphicon glyphicon-apple"></span>注册类型</span>
    <select id="role" name="role" class="form-control" style="width: 200px">
        <option value="user">用户</option>
        <option value="manager">管理员</option>
    </select>
</div>
    <br>
<div class="input-group">
    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
    <input type="text" id="username" name="username" class="form-control" placeholder="用户名" style="width: 500px">
</div>

<br>
<div class="input-group">
    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
    <input type="password" id="password" name="password" class="form-control" placeholder="密码" style="width: 500px">
</div>
<br>
<div class="input-group">
    <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
    <input type="text" id="email" name="email" class="form-control" placeholder="Email" style="width: 500px">
</div>
<br>
<div class="input-group">
    <span class="input-group-addon"><span class="glyphicon glyphicon-earphone"></span></span>
    <input type="text" id="tel" name="tel" class="form-control" placeholder="电话" style="width: 500px">
</div>




<div class="form-group form-actions">
    <div class="col-xs-4">
        <br>
        <input type="button" class="btn btn-info" onclick="register_user()"  value="注册"/>
    </div>
</div>
</form>
</div>
</div>
</div>
</div>
</body>
<script src="/static/js/jquery-2.0.0.min.js"></script>
<script src="/static/js/main.js"></script>
<script>
    function register_user() {
        var username = $("#username").val();
        var password = $("#password").val();
        var e_mail = $("#email").val();
        var tel = $("#tel").val();
        if (!username) {
            alert('请输入用户名！');
            return;
        }
        else if (!password) {
            alert('请输入密码！');
            return;
        }
        else if (!e_mail) {
            alert('请输入电子邮箱！');
            return;
        }
        else if (!password) {
            alert('请输入联系号码！');
            return;
        }
        var role =$("#role").val();
        var info = {
            'username': username,
            'password': password,
            'e_mail': e_mail,
            'tel': tel,
            'role': role
        }
        ajaxSend('/save_user_info', {"info": JSON.stringify(info)}, function(data){
            alert(data.msg);
        });
    }
</script>
</html>