<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/css/jquery-ui.css" rel="stylesheet">
    <link href="/static/css/ui.jqgrid.css" rel="stylesheet">
    <script src="/static/js/jquery-2.0.0.min.js"></script>
    <script src="/static/js/bootstrap.js/"></script>
    <script src="/static/js/jquery-ui.min.js/"></script>
    <script src="/static/js/jquery.jqGrid.src.js/"></script>
    <script src="/static/js/grid.locale-en.js/"></script>
    <script src="/static/js/jquery.form.js/"></script>
    <script src="/static/js/jquery.cookie.js/"></script>
    <script src="/static/js/jquery.msgBox.v1.js/"></script>
    <title>建库测序样品</title>
</head>
<body>
    <table id="show_all"></table>
</body>
<script>
    function ajaxSend(reqUest_url, post_data, callback, request_method, return_type, dict_vars) {
        var params = {
        url: reqUest_url,
        data: post_data || '',
        type: request_method || 'GET',
        success: callback,
        error: function (request, textStatus, errorThrown) {
            alert("Request failed, please try again.");
        },
        return_type: return_type || 'json',
        cache: false,
        global: true,
        ajax_func_flag: false,
        custom_func: callback
        };
        if (dict_vars) {
            for (var key in dict_vars) {
                params[key] = dict_vars[key];
            }
        }
        $.ajax(params);
    }


    $("#show_all").jqGrid({
        datatype: 'local',
        height: 250,
        colNames: ['id','项目编号', '项目名称', '客户单位', '客户姓名', 'E-mail' ,'联系电话' ,'销售姓名','送样日期', '样本数量'],
        colModel: [
            { name: 'id', index: 'id', hidden: true },
            { name: 'project_number', index: 'project_number'},
            { name: 'project_name', index: 'project_name'},
            { name: 'cust_organization', index: 'cust_organization'},
            { name: 'cust_user', index: 'cust_user'},
            { name: 'email', index: 'email'},
            { name: 'cust_tel', index: 'cust_tel'},
            { name: 'sale_name', index: 'sale_name'},
            { name: 'sp_delive_date', index: 'sp_delive_date'},
            { name: 'sp_sum', index: 'sp_sum'},
        ],
{#        multiselect: true,#}
        caption: "建库测序样品"
    });

    ajaxSend('get_all_data', {}, function(data) {
        var all_data = data['data'];
        for (var i=0; i<=all_data.length;i++) {
            $("#show_all").jqGrid('addRowData', i+1, all_data[i])
        }
    })

</script>
</html>