<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0" />
</head>
<body>
    <select name="dly_center" id="dly_center_select">
    <{foreach from=$dly_centers item=item}>
        <option value="<{$item.dly_center_id}>"><{$item.name}></option>
    <{/foreach}>
   </select><input type="text" name="b" id="b" onkeyup="init(this)" /></span>
</body>
<script>
window.addEvent('domready',function(){
    $('dly_center_select').addEvent('change',function(e){
        console.log('test')
    })
})
</script>
</html>
